<div
  *ngIf="value === '1'"
  class="difficulty-box-container"
  (click)="updateValue(value)"
>
  <div class="difficulty-box activ"></div>
  <div class="difficulty-box"></div>
  <div class="difficulty-box"></div>
</div>
<div
  *ngIf="value === '2'"
  class="difficulty-box-container"
  (click)="updateValue(value)"
>
  <div class="difficulty-box activ"></div>
  <div class="difficulty-box activ"></div>
  <div class="difficulty-box"></div>
</div>
<div
  *ngIf="value === '3'"
  class="difficulty-box-container"
  (click)="updateValue(value)"
>
  <div class="difficulty-box activ"></div>
  <div class="difficulty-box activ"></div>
  <div class="difficulty-box activ"></div>
</div>
