.difficulty-box-container {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 200px;
}

.difficulty-box {
  background: rgb(8, 215, 247);
  width: 33%;
  height: 7px;
  opacity: 0.2;
  transform: skewX(-40deg);
}

.activ {
  opacity: 1;
}
